<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<div class="content-container">
<!-- [X] TODO: List all tasks for this specific user. -->
    <h1 th:text="${title}">Default Title</h1>

        <p th:unless="${modelUser.tasks.size()}">No tasks yet.</p>

        <!-- [ ] TODO: Most likely will have to change this to form elements, or tables or something, but figure out how to add a checkbox for each item that, once you check it off, it will immediately mark the "checked" field of that item to "true". -->
        <ul class="list-group">
            <li th:each="task : ${modelUser.tasks}" class="list-group-item" th:text="${task.name}"></li>
        </ul>

<!-- [X] TODO: Add quick add form at the bottom with a drop down for the rooms. -->
    <form method="post" th:object="${task}">

        <div class="form-group">
            <label th:for="name">Task</label>
            <input th:field="*{name}" class="form-control" autofocus="autofocus" />
            <span th:errors="*{name}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="room">Room</label>
            <select name="roomId" class="form-control">
                <option th:each="room : ${rooms}"
                        th:text="${room.name}" th:value="${room.id}"></option>
            </select>
        </div>

        <button type="submit" class="btn dark">Add Task</button>

    </form>

</div>
</body>
</html>