<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<!-- [ ] TODO: List all tasks for this specific user. -->
<h1 th:text="${title}">Default Title</h1>

<ul class="list-group">
    <li th:each=""
</ul>

<!-- [ ] TODO: If there are tasks... for each task list checkbox, task, date last done, room it belongs to. -->

<!-- [ ] TODO: Figure out how you want to do this visually. -->

<!-- [ ] TODO: Link to add tasks. -->

</body>
</html>