<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<div class="content-container">
<h1 th:text="${title}">Default Title</h1>

<!-- [X] TODO: List all tasks for specific user for specific room. -->
<!-- [ ] TODO: Copy over the code from your list-all file once you figure out how to do it. -->
<p th:unless="${modelUser.tasks.size()}">No tasks yet.</p>

<ul class="list-group">
    <li th:each="task : ${modelUser.tasks}" th:if="${task.getRoom()} == ${room}" class="list-group-item" th:text="${task.name}"></li>
</ul>

<!-- [X] TODO: Have an easy add form at the bottom that populates the "room" property depending on what room is present in the RequestParam -->
    <form method="post" th:object="${task}">

        <div class="form-group">
            <label th:for="name">Task</label>
            <input th:field="*{name}" class="form-control" autofocus="autofocus" />
            <div class="form-text"><span th:errors="*{name}" class="error"></span></div>
        </div>

        <input type="hidden" name="formRoomId" th:value="${roomId}" />

        <button type="submit" class="btn dark">Add Task</button>

    </form>
</div>
</body>
</html>