<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<!-- [ ] TODO: List all tasks for specific user for specific room. -->

<!-- [ ] TODO: For each task, list a clickable checkbox and the task name. -->

<!-- [ ] TODO: Have an easy add form at the bottom that populates the "room" property depending on what room is present in the RequestParam -->

</body>
</html>